﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Investigacion.aspx.cs" Inherits="SistemaAcademicoUniversidad.Investigacion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="iguru_dlh_604f5c6465e2c" class="iguru_module_double_headings aleft " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: left; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: inherit; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); line-height: 20px;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">
            <br />
            LÍNEAS DE INVESTIGACIÓN</span></div>
    </div>
    <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                &nbsp;</p>
            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                Las líneas de investigación de la Escuela Profesional están enmarcadas en tres las áreas de dominio del conocimiento, y comprenden a su vez un conjunto de temas de interés. (Res. 373-2018-CFIA-UAC)</p>
        </div>
    </div>
    <div id="iguru_spacer_604f5c6465ec5" class="iguru_module_spacing responsive_active" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <br />
        <div id="iguru_dlh_604f5c6465ef2" class="iguru_module_double_headings aleft " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: left; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="dlh_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 22px; font-weight: 900; font-style: inherit; position: relative; z-index: 1; color: rgb(44, 44, 44); line-height: 2.273;">
                <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">ÁREA DE DOMINIO: TECNOLOGÍAS DE INFORMACIÓN</span></div>
        </div>
        <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    <span class="highlighter secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0.2em; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; border-radius: 3px; color: rgb(255, 255, 255); background: rgb(0, 206, 254);">1. DESARROLLO DE SOFTWARE</span></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element  vc_custom_1613195233170" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px !important; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Automatización de procesos.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Desarrollo de aplicaciones usando inteligencia artificial.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Realidad virtual.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Sistemas de información geográfica.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Investigación asistida por computadora.</li>
                </ul>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    <span class="highlighter secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0.2em; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; border-radius: 3px; color: rgb(255, 255, 255); background: rgb(0, 206, 254);">2. CIENCIA DE DATOS</span></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element  vc_custom_1613195328683" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px !important; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Modelación y simulación usando modelos matemáticos</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Inteligencia de negocios</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Tratamiento de grandes cantidades de datos</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Seguridad de información</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Almacenamiento y recuperación de la información</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Machine learning</li>
                </ul>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    <span class="highlighter secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0.2em; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; border-radius: 3px; color: rgb(255, 255, 255); background: rgb(0, 206, 254);">
                    <br class="Apple-interchange-newline" />
                    3. ALGORÍTMICA</span></p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element  vc_custom_1613195425580" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 10px !important; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Algoritmos de migración</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Algoritmos numéricos</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Biotecnología</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Matemática aplicada computacional</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Técnica algorítmica de juegos</li>
                </ul>
            </div>
        </div>
        <br />
        <div id="iguru_message_604f5c6469415" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
                <br class="Apple-interchange-newline" />
                <i class="message_icon fa fa-envelope-open" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
            </div>
            <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">INFORMES:</h4>
                <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                    ep_sistemas@uandina.edu.pe</div>
            </div>
        </div>
        <div id="iguru_message_604f5c646949c" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
                <i class="message_icon fa fa-phone" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
            </div>
            <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">CONTACTO:</h4>
                <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                    084 - 60 5000 / ANEXO: 1404</div>
            </div>
        </div>
        <br class="Apple-interchange-newline" />
    </div>
</asp:Content>