﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Mivi.aspx.cs" Inherits="SistemaAcademicoUniversidad.mivi" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: normal; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 20px;">
        <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">
        <br />
        NUESTRA</span></div>
    <br />
    <div class="dlh_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 42px; font-weight: 900; font-style: normal; position: relative; z-index: 1; color: rgb(44, 44, 44); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 1.19;">
        <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">Misión<br />
        <span style="color: rgb(94, 106, 120); font-family: &quot;Open Sans&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: -0.1px; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">Somos una escuela profesional que forma, de manera integral y con calidad, ingenieros de sistemas, a través del fortalecimiento de habilidades y capacidades para dominar tecnologías de la información, tecnologías de comunicación y la gestión y desarrollo de sistemas de información, con principios éticos profesionales y valores andinos, liderando equipos de trabajo, promotora de la investigación científica, el cuidado del ambiente, capaz de 
        satisfacer y responder a las necesidades para el desarrollo sostenible de la sociedad a nivel regional y nacional.<br />
        </span></span>
        <div id="iguru_spacer_604f50bc1a254" class="iguru_module_spacing responsive_active" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br class="Apple-interchange-newline" />
            <div class="spacing_size spacing_size-initial" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; display: block; height: 10px;">
            </div>
        </div>
        <div id="iguru_dlh_604f50bc1a277" class="iguru_module_double_headings aleft " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: left; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: inherit; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); line-height: 20px;">
                <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">NUESTRA</span></div>
            <div class="dlh_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 42px; font-weight: 900; font-style: inherit; position: relative; z-index: 1; color: rgb(44, 44, 44); line-height: 1.19;">
                <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">Visión<br />
                <span style="color: rgb(94, 106, 120); font-family: &quot;Open Sans&quot;; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: -0.1px; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">La escuela profesional de Ingeniería de Sistemas de la Universidad Andina del Cusco, al 2025 será líder en la formación integral de ingenieros de sistemas, con una educación de calidad basada en la ciencia y tecnología, con proyección social, orientada a la gestión y desarrollo de sistemas de información, tecnologías de información y comunicación, con principios éticos profesionales y valores andinos de sabiduría (Yachay), trabajo (Llank’ay), 
                voluntad (Munay), reciprocidad y solidaridad (Ayni), promoviendo la investigación, la conservación del ambiente, la cultura andina y el desarrollo sostenible de la sociedad a nivel regional y nacional.<br />
                <br />
                </span></span>
                <div id="iguru_dlh_604f50bc1a40c" class="iguru_module_double_headings acenter " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: center; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(245, 247, 248); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                    <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: inherit; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); line-height: 20px;">
                        <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">ACONTECIMIENTOS IMPORTANTES</span></div>
                    <div class="dlh_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 48px; font-weight: 900; font-style: inherit; position: relative; z-index: 1; color: rgb(44, 44, 44); line-height: 1.083;">
                        <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">Historia</span></div>
                </div>
                <div class="iguru_module_spacing" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(245, 247, 248); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                    <br />
                    <br class="Apple-interchange-newline" />
                    <div class="wpb_text_column wpb_content_element  vc_custom_1613193464780" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding-top: 0px; padding-right: 20px !important; padding-bottom: 0px; padding-left: 20px !important; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(245, 247, 248); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                        <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                                La Escuela Profesional de Ingeniería de Sistemas (EPIS) inició su funcionamiento en el año 1993 con la denominación de Carrera Profesional de Ingeniería de Sistemas. Actualmente es parte de la estructura orgánica de la Facultad de Ingeniería y Arquitectura de la Universidad Andina del Cusco y cuenta con una plana docente de 34 profesionales.</p>
                            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                                Durante más de 26 años, la Escuela ha brindado servicio a un promedio de 450 estudiantes por ciclo académico, el cual tiene una duración de 17 semanas. Cuenta con más de 800 bachilleres, de los cuales 432 han obtenido el título profesional, que se encuentran laborando dentro y fuera de nuestra región.</p>
                            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                                La estructura curricular ha sido actualizada en varias ocasiones con la finalidad de estar acorde al avance de la tecnología, tendencias del sector y mercado laboral. En el año 2005 fue aprobada la segunda estructura curricular y, posteriormente, en el año 2013, se aprobó una tercera estructura. La malla curricular vigente es la aprobada en el 2016, y se encuentra en implementación el Plan de estudios 2020, cuyo primer ciclo ha entrado en vigencia en el semestre 2020 – I. Estos cambios obedecen a requerimientos señalados por nuestros egresados, empleadores y organismos nacionales e internacionales.</p>
                            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                                &nbsp;</p>
                            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                                &nbsp;</p>
                        </div>
                    </div>
                    <div class="iguru_module_spacing" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(245, 247, 248); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                        <div id="iguru_message_604f50bc1ef3b" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                            <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
                                <br class="Apple-interchange-newline" />
                                <i class="message_icon fa fa-envelope-open" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
                            </div>
                            <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                                <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">INFORMES:</h4>
                                <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                                    ep_sistemas@uandina.edu.pe</div>
                            </div>
                        </div>
                        <div id="iguru_message_604f50bc1ef95" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                            <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
                                <i class="message_icon fa fa-phone" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
                            </div>
                            <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                                <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">CONTACTO:</h4>
                                <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                                    084 - 60 5000 / ANEXO: 1404</div>
                            </div>
                        </div>
                        <br class="Apple-interchange-newline" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
