﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Perpro.aspx.cs" Inherits="SistemaAcademicoUniversidad.perpro" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div id="iguru_dlh_604f50bc1a608" class="iguru_module_double_headings aleft " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: left; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: inherit; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); line-height: 20px;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">
            <br class="Apple-interchange-newline" />
            PERFIL</span></div>
        <div class="dlh_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 32px; font-weight: 900; font-style: inherit; position: relative; z-index: 1; color: rgb(44, 44, 44); line-height: 1.563;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">Ingresante<br />
            <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                    <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                        El aspirante a la Escuela Profesional de Ingeniería de Sistemas deberá contar con:</p>
                </div>
            </div>
            <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
                <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                    <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">&nbsp;.- Capacidad de desarrollar la inteligencia lógico matemática.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Capacidad de identificar modelos, calcular, formular y verificar hipótesis, utilizando el método deductivo e inductivo y buen nivel de abstracción.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Capacidad de desarrollar la inteligencia lingüística que es la capacidad de comprender el orden y el significado de las palabras en la lectura, entender, hablar, escuchar y escribir eficazmente.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Capacidad de leer en inglés.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Capacidad de adaptarse fácilmente a los cambios tecnológicos y a la innovación siendo indagador.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Habilidades para comunicarse y tener disposición para trabajar en equipo.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Cualidades como ser colaborativo y proactivo.</li>
                        <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">.- Capacidad para ubicar y relacionar objetos o elementos en contexto.</li>
                    </ul>
                </div>
            </div>
            </span></div>
    </div>
    <div class="iguru_module_spacing" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <br />
        <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: normal; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 20px;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">PERFIL</span></div>
        <div class="dlh_title" style="border-style: none; border-color: inherit; border-width: 0px; box-sizing: border-box; vertical-align: baseline; margin: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 32px; font-weight: 900; font-style: normal; position: relative; z-index: 1; color: rgb(44, 44, 44); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; line-height: 1.563; top: 0px; left: 0px;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">Graduado</span></div>
        <br />
        <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    La excelencia académica permitirá al profesional egresado de la Escuela Profesional de Ingeniería de Sistemas posicionarse en puestos estratégicos en el mercado ocupacional; siendo responsable del progreso tecnológico; creando y diseñando, con ingenio, sistemas innovadores; demostrando un comportamiento estrictamente ético y moral, con capacidad de liderazgo e investigación que promuevan el desarrollo sostenible a nivel regional, nacional e internacional.</p>
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    La Escuela Profesional de Ingeniería de Sistemas tiene como misión fundamental aplicar la ciencia y la tecnología, inculcando valores éticos y humanísticos para lograr:</p>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element  vc_custom_1613193582950" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 15px !important; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <ul class="iguru_check secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(1em + 6px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Formación de profesionales competentes.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(1em + 6px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Alumnado participativo e identificado con la Universidad.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(1em + 6px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Proyección social efectiva a nivel regional.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(1em + 6px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Planes de estudio acordes a la realidad del entorno y avance de la tecnología.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(1em + 6px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Permanente capacitación y actualización de la plana docente y administrativa.</li>
                    <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(1em + 6px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Vínculos oficiales con las organizaciones del entorno.</li>
                </ul>
            </div>
        </div>
        <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    El Ingeniero de Sistemas graduado de la Universidad Andina del Cusco, analiza, optimiza, comprende, evalúa y selecciona el funcionamiento de la estructura organizacional, en una empresa, como un todo integrado.</p>
                <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                    Transforma una necesidad mediante procesos iterativos de definición de sistemas, de síntesis del problema y de análisis, diseño y evaluación de las soluciones. Domina las tecnologías de información, tecnologías de comunicaciones, niveles de seguridad, simulación de sistemas. Conceptúa y maneja la teoría de investigación, aplica métodos, técnicas e instrumentos de investigación científica.</p>
            </div>
        </div>
        <div class="iguru_module_spacing" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <br class="Apple-interchange-newline" />
        </div>
        <div id="iguru_message_604f50bc1ef3b" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
                <br class="Apple-interchange-newline" />
                <i class="message_icon fa fa-envelope-open" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
            </div>
            <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">INFORMES:</h4>
                <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                    ep_sistemas@uandina.edu.pe</div>
            </div>
        </div>
        <div id="iguru_message_604f50bc1ef95" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
            <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
                <i class="message_icon fa fa-phone" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
            </div>
            <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">CONTACTO:</h4>
                <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                    084 - 60 5000 / ANEXO: 1404</div>
            </div>
        </div>
        <br class="Apple-interchange-newline" />
    </div>
</asp:Content>
