﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Tutoria.aspx.cs" Inherits="SistemaAcademicoUniversidad.Tutoria" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
        <br />
    </p>
    <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                Al mismo tiempo, en cada nivel se consideran 3 aspectos del acompañamiento: académico, administrativo y personal.</p>
        </div>
    </div>
    <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <p style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; color: rgb(94, 106, 120); letter-spacing: -0.1px; text-align: justify;">
                Como parte del Programa de Tutoría establecido por la Facultad de Ingeniería y Arquitectura, se tiene un plan de acompañamiento y consejería en 3 niveles:</p>
            <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Ingresantes</li>
                <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Estudiantes Regulares</li>
                <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Egresantes</li>
            </ul>
        </div>
    </div>
    <div id="iguru_dlh_604f5c6468a0d" class="iguru_module_double_headings aleft " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: left; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: inherit; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); line-height: 20px;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">
            <br class="Apple-interchange-newline" />
            DOCENTES TUTORES</span></div>
    </div>
    <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Mtra. Yessenia Bernales Guzman /<span>&nbsp;</span><em style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: italic;">correo: ybernales@uandina.edu.pe</em></li>
            </ul>
        </div>
    </div>
    <div class="iguru_module_spacing" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="spacing_size spacing_size-initial" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; height: 16px;">
        </div>
    </div>
    <div id="iguru_dlh_604f5c6468ac4" class="iguru_module_double_headings aleft " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 16px; font-weight: 400; font-style: normal; text-align: left; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="dlh_subtitle" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 12px; border: 0px; padding: 0px; outline: 0px; font-family: Quicksand; font-size: 16px; font-weight: 700; font-style: inherit; display: inline-block; position: relative; z-index: 1; color: rgb(0, 206, 254); line-height: 20px;">
            <span style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: inherit; font-weight: inherit; font-style: inherit; line-height: inherit; color: inherit;">DOCENTES TUTOR DE FORMACIÓN</span></div>
    </div>
    <div class="wpb_text_column wpb_content_element " style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="wpb_wrapper" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <ul class="iguru_dot secondary" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 20px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
                <li style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px 0px 0px calc(0.5em + 14px); outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: relative; z-index: 1; line-height: 40px; list-style: none;">Ing Velia Ardiles Romero /<span>&nbsp;</span><em style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: italic;">correo: vardiles@uandina.edu.pe</em></li>
            </ul>
        </div>
    </div>
    <div class="iguru_module_spacing" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <br class="Apple-interchange-newline" />
        <div class="spacing_size spacing_size-initial" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; height: 16px;">
        </div>
    </div>
    <div id="iguru_message_604f5c6469415" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
            <i class="message_icon fa fa-envelope-open" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
        </div>
        <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">INFORMES:</h4>
            <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                ep_sistemas@uandina.edu.pe</div>
        </div>
    </div>
    <div id="iguru_message_604f5c646949c" class="iguru_module_message_box type_custom" style="box-sizing: border-box; vertical-align: baseline; margin: 0px 0px 15px; border: 0px; padding: 12px 12px 12px 85px; outline: 0px; font-family: &quot;Open Sans&quot;; font-size: 16px; font-weight: 400; font-style: normal; position: relative; z-index: 0; min-height: 73px; border-radius: 5px; box-shadow: rgba(0, 0, 0, 0.08) 6px 5px 25px; background-color: rgb(255, 255, 255); color: rgb(95, 95, 95); font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
        <div class="message_icon_wrap" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit; position: absolute; z-index: 1; top: 5px; left: 5px; width: 63px; height: calc(100% - 10px); border-radius: 5px; background-color: rgb(0, 206, 254);">
            <i class="message_icon fa fa-phone" style="box-sizing: border-box; font: 35px / 1 FontAwesome; display: flex; text-rendering: auto; -webkit-font-smoothing: antialiased; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center; height: 63px; text-align: center; color: rgb(255, 255, 255);"></i>
        </div>
        <div class="message_content" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: inherit; font-size: 16px; font-weight: inherit; font-style: inherit;">
            <h4 class="message_title" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 0px; outline: 0px; font-family: Muli; font-size: 18px; font-weight: 700; font-style: inherit; color: rgb(0, 206, 254); line-height: 1.25;">CONTACTO:</h4>
            <div class="message_text" style="box-sizing: border-box; vertical-align: baseline; margin: 0px; border: 0px; padding: 8px 0px 0px; outline: 0px; font-family: inherit; font-size: 14px; font-weight: inherit; font-style: inherit; line-height: 1.25; color: rgb(95, 95, 95);">
                084 - 60 5000 / ANEXO: 1404</div>
        </div>
    </div>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
</asp:Content>
